
*{
    color:white;
}


.abc{
    width:1200px;
    height:150px;
    background-color:black;
    margin-left:300px;
}
.r2{
    width:1200px;
    height:100px;
    background-color:black;
    margin-left:300px;
}
.row1{
    width:1200px;
    height:30px;
}
.row2{
    width:1100px;
    height:90px;
    border:solid 1px red;
}
.col1{
    width:100px;
    margin-left:80px;
    float:left;
}
.col2{
    width:140px;
    margin-left:20px;
    float:left;
    
}

.head{
    margin-left:100px;
    
}
.moviehub{
    font-size:30px;
}
.watch{
    float:right;
    font-size:20px;
    color:white;
    margin-left:20px;
    margin-right:20px;
}

.row_movie{
    width:1200px;
    height:270px;
    margin-left:300px;
    padding-bottom:24px;
    padding-top:10px;
    background-color:black;
    border:solid 1px blue;
}
.image_container{
    width:240px;
    height:270px;
    margin-left:100px;
    float:left;
}
.m1{
    width:240px;
    height:270px;
}
.datail_contin{
    width:700px;
    height:270px;
    float:left;
    
}
.A{
    width:700px;
    height:50px;
    margin-top:30px;
}
.a{
    margin-left:20px;
    float:left;
    height:100%;
}
.d{
    border:solid 1px white;
    width:50px;
    float:left;
    margin-left:20px;
}
.count{
    font-size:20px;
    text-align:center;
    line-height:0px;
    
}
.b{
    margin-left:20px;
    float:left;
    height:100%;
}

.c{
    margin-right:20px;
    float:right;
    height:100%;
}
.AddMovie{
    width:1200px;
    height:400px;
    margin-left:300px;
    background-color:black;
}
.newmovietext{
    width:1000px;
    height:100px;
    padding-left:100px;
    
}
.form{
    width:1000px;
    height:200px;
    padding-left:100px;
    
}
.foot{
    width:1200px;
    height:150px;
    background-color:black;
    margin-left:300px;
    border-bottom:solid 1px red;
}
.anchor{
    width:700px;
    height:50px;
    margin-top:50px;
   }
                    
    





  
    
